# Server Configuration
PORT=5001
NODE_ENV=development

# Database Connection (MongoDB)
MONGODB_URI=mongodb://localhost:27017/hydraranger_db
# Security & Authentication
JWT_SECRET=super_secret_jwt_key_hydraranger_sprint_2_change_in_prod
JWT_EXPIRES_IN=7d

# CORS Allowed Origin (Client URL)
CLIENT_URL=http://localhost:5173
